body {
    background-color: #333333;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

#title {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
    color: burlywood;
}

ul li {
    margin: 5px;
    list-style: circle;
    color:antiquewhite;
}

p {
    width: 500px;
}

ol li {
    margin: 5px;
    list-style: lower-roman;
    color:antiquewhite;
}

a:link, a:visited {
    color: greenyellow;
    text-decoration: none;
}